/* GENERAL */
body {font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;}
    /* HEADER */
    header {background-color: #0a3d62;
        color: white;
        text-align: center; 
        padding: 20px; }
        /* NAVIGATION */
        nav {background-color: #1e3799;
            text-align: center;
            padding: 10px;}
            nav a {color: white;
                margin: 10px;
                text-decoration: none;
                font-weight: bold;}
                /* SECTIONS */
                section {background: white;
                    margin: 15px;
                    padding: 20px;
                    border-radius: 5px;}
                    /* PRODUCT GRID */
                    .product-grid {display: grid;
                        grid-template-columns: repeat(auto-fit, minimax(150px, 1fr));
                        gap: 20px;
                        margin-top: 20px; }
                    .product {text-align: center;
                    background-color: #f8f8f8;
                    padding: 10px;
                    border-radius: 5px;
                    transition: transform 0.2s;
                    }
                    /* products image size */
                    .product img {width: 120px;
                    height: auto;
                    object-fit: contain; }
                    .product:hover {transform: scale(1.05);}
                    /* FOOTER */
                    footer {background-color: #0a3d62;
                    color: white;
                text-align: center;
            padding: 10px;}
            /* MOBILE RESPONSIVE */
            @media (max-width: 600px) {nav {display: flex;}
        flex-direction: column; 
        align-items; cen; }